.h1 {color: red;}
h3 {color: royalblue;}
.h2 {color: pink;}
.li1 {color:red;}
.li2 {color: royalblue;}
.li3 {color: yellow;}
.li4 {color: crimson;}
body {
    background: black;
}
.p1 {color: red;}
#p2 {color: pink;}
